
@{
    ViewBag.Title = "Welcome";
}
<!DOCTYPE html>
<div id="Regista">
    <h2>Welcome to my page</h2>

    <h4>Say More Stuff Here</h4>
    Welcome: @ViewBag.UserName <br />
    Email: @ViewBag.Email
    <h2>password exposed.....lol :)</h2>
    Password: @ViewBag.Password <br />
    Phone Number: @ViewBag.PhoneNumber <br />
    Thank you for joining us from @ViewBag.City, @ViewBag.Country
    <p>add more stuff here</p>
</div>